body {
  display: flex;
  justify-content: space-between;

  $margin: 8px;
  margin: $margin;
  height: calc(100vh - $margin * 2);

  iframe {
    width: 45%;
    height: 100%;
  }

  &.updating::after {
    content: "Lädt...";
    position: fixed;
    inset: 0;
    background: #fffc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: Roboto, "Segoe UI", system-ui;
    backdrop-filter: blur(5px);
  }
}
